*{margin: 0;
  padding: 0;
}

body{
    background-color: rgb(218, 255, 201);
    font-family: 'Times New Roman', Times, serif;    
}

h1{
    color: white;
    background-color: rgb(19, 144, 83);
}
p{
    color: rgb(19, 144, 83);
}

li{
    color: rgb(19, 144, 83);
    list-style: none;
    display: inline;
    padding: 15px       
}
a{
    color: white;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px
}

.list {
    background-color: rgb(19, 144, 83);
}