body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main main aside"
        "footer footer footer footer"
        ;
}

