
header {
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;
}

nav {
    background-color: yellow;
    grid-area: nav;
    list-style: none;

}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav > ul > li {
    position: relative;
    width: 100%
}
nav ul ul{
    position: absolute;
    display: block;
    background-color: green;
    width: 100%;
    padding: 0;
}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}
aside {
    background-color: lightgreen;
    grid-area: aside;
}
footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}
body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main aside aside"
        "footer footer footer footer"
        ;
}