/* body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer"
        ;
}
*/
header {
    background-color: #fad5e6;
    padding: 3em;
    grid-area: header;
    display: grid;
    justify-content: center;
 }
 
 .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
 }
 
 
 footer {
    background-color: #be3b45;
    color: white;
    grid-area: footer;
 } 




 .showNav {
    width: 30px;
    height: 3px; /* Adjust height to make the icon clearer */
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    cursor: pointer;
}


.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #ffffff
}

nav{
    display: none;
    background-color: white;
    position: fixed;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
}
/* 
.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    position: fixed;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    top: 20px;
    right: 20px;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
} */

#clicked .showNav  {
    display:block;
}

#clicked .off {
    display: none;
}

#clicked:target .showNav{
    display: block;
}
#clicked:target .off{
    display: block;
}

